@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

html,body {
	font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
	scroll-behavior: smooth;
}

/* navigation */

div.navigation {
	height: 100%;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('headerBackgroundImage.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

a.nav-link {
	color: white !important;
	font-size: 120%;
}

a.nav-link:hover {
	color: #00dfc0 !important;
	transition: 0.8s;
}

/* title */

.mainTitle {
	color: white;
	padding-top: 10%;
	padding-bottom: 20%;
}

h1.mainTitleText {
	font-weight: 700;
	font-size: 300%;
	text-transform: uppercase;
}

.titleButton {
	margin-top: 50px;
	border-radius: 29px 29px 29px 29px;
	-moz-border-radius: 29px 29px 29px 29px;
	-webkit-border-radius: 29px 29px 29px 29px;
}

/* body */

.custom-container {
  max-width: 1300px !important;
  background-color: white;
}

/* header */
.header {
	font-size: 300%;
	font-weight: 700;
	text-transform: uppercase;
  	margin: 50px 0;
  	text-align: center;
}

.headerLine {
	width: 40%; 
	border: 1px solid lightgray; 
	margin-bottom: 50px;
}

/* information */
img.infoImage {
  max-width: 100%;
}

h3.infoHeading {
	text-align: center;
	font-size: 200%;
	font-weight: 700;
}

p.infoText {
	text-align: center;
	font-size: 120%;
	color: gray;
}

/* course card styles */
.card {
  	color: white;
  	border: none;
  	height: 450px !important;
	background-color: #21D4FD;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  	background-size: cover;
}

.card-title {
  font-size: 180%;
  font-weight: 600;
  text-transform: uppercase;
}

.card-text {
  font-size: 150%; 
  text-align: left;
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
}

.cardButton {
	width: 55%;
	text-transform: uppercase;
	border-radius: 80px 32px 80px 32px;
-moz-border-radius: 80px 32px 80px 32px;
-webkit-border-radius: 80px 32px 80px 32px;
}

h2 {
	font-weight: 700;
	font-size: 200%;
}

div.textBox {
	font-size: 1.5em;
	text-align: justify;
	color: gray;
}

div.carousel {
	padding: 0 100px;
}

div.userReview {
	font-size: 20px;
	text-align: justify;
	padding: 50px 80px;
	border-radius: 9px 9px 9px 9px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border: 1px solid #f7f7f7;
}

.carousel-control-prev, .carousel-control-next{
	width: 5%;
}

/* color of carousel buttons */
/* fill = '%23color' */
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23AAA' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23AAA' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

div.gallery {
	margin-bottom: 50px;
}

/* footer */

div.formContainer {
	color: white;
	background-color: #282a2d;
	padding: 50px 30px;
}

.page-footer {
	padding: 100px 50px;
	color: white;
	background-color: #1a1c1a;
}

ul.list-unstyled li {
	margin: 20px 0;
}

ul.list-unstyled li a:link, ul.list-unstyled li a:visited, .footer-copyright a:link {
	color: white;
}


/* for mobile phones */
@media (max-width: 600px) {

	h1.mainTitleText {
		font-size: 180%;
	}

	h2 {
		font-size: 1.8em;
	}

	div.textBox {
		font-size: 1em;
	}

	div.userReview {
		font-size: 15px;
		padding: 20px;
	}
	div.carousel {
		padding: 50px 25px;
	}
}

@media (min-width: 600px) {
	div.sideText {
		padding: 100px 70px;
	}
}